body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(/img/Sin\ título.png);
}

header {
    background-color: red;
    color: white;
    padding: 52px;
    text-align: center;
}

img {
    width: 120px;
    height: auto;
    float: left;
    margin-top: -50px;
}

nav {
    display: inline-block;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 100px;
    border: 3px solid white;
    padding: 5px 10px;
    border-radius: 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;



}

/*-----------------------------*/
/* CARTA */
/*--------------------------------*/
.main-carta {
    padding: 20px;
}

.seccion {
    position: relative;
    margin-right: 900px;
}

.seccion img {
    position: absolute; 
    top: 175px; 
    right: -900px; 
    width: 500px; 
    height: auto;
}
.seccion_2 {
    position: relative; 
    margin-left: 900px;
}

.seccion_2 img {
    position: absolute; 
    top: 175px; 
    right: 1300px;
    width: 500px; 
    height: auto; 
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Kanit';
    color: rgb(226, 17, 17);
    background-color: #f9f9f9;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(226, 17, 17);
}

.item {
    background-color: #f9f9f9;
    padding: 20px;
    
}

.item h3 {
    margin-top: 0;
    font-size: 22px;
    color: #333; /* Color del texto */
}

.item p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666; /* Color del texto */
}

.item p:last-child {
    margin-bottom: 0;
    font-weight: bold;
    color: #000; /* Color del texto */
}
.reto{
    text-align: center;
}
.reto button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.reto button:hover {
    background-color: darkred;
}


/*-----------------------------*/
/* FOOTER */
/*--------------------------------*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul p {
    display: inline-block;
    margin-right: 10px;
}

footer nav ul p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul p a:hover {
    color: black;
    transition: 0.5s;
}

footer nav ul p img {
    width: 40px;
    height: auto;
    margin-top: 30px;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #000000;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}
