  /*-----------------------------*/
/* HEADER */
/*--------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: red;
    color: white;
    padding: 45px;
    text-align: center; 
}
img{
    width: 120px; 
    height: auto; 
    float: left;
    margin-top: -50px;
}

nav {
    display: inline-block; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 3px solid white; 
    padding: 5px 10px; 
    border-radius: 0px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    background-color: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container form {
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    width: calc(100% - 24px);
    padding: 10px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #FF4B2B;
}

button {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 20px;
    background-color: #FF4B2B;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF6A57;
}

 /*-----------------------------*/
/* FOOTER */
/*--------------------------------*/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul p {
    display: inline-block;
    margin-right: 10px;
}

footer nav ul p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul p a:hover {
    text-decoration: underline;
}

footer nav ul p img {
    width: 40px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    margin-top: 30px;
}
  