body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: red;
    color: white;
    padding: 45px;
    text-align: center; /* Centrar el contenido del encabezado */
}
img{
    width: 120px; /* Ancho deseado */
    height: auto; 
    float: left;
    margin-top: -50px;
}

nav {
    display: inline-block; /* Alinear el menú horizontalmente */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 3px solid white; /* Añadir borde alrededor de cada elemento de menú */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 0px; /* Bordes redondeados */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


/*-----------------------------*/
/* MAIN */
/*--------------------------------*/

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.home-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin-top: 30px;
}

.home-image {
    flex: 1;
}

.home-image img {
    width: 100%;
    border-radius: 0; /* Aquí establecemos los bordes cuadrados */
    border: 2px solid #ddd; /* Agregamos un borde alrededor de la imagen */
}

.home-text {
    flex: 1;
    padding: 0 20px;
}

.home-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.home-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.boton_pide {
    display: inline-block;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;
}

.boton_pide:hover {
    background-color: #e65100;
}


/*-----------------------------*/
/* FOOTER */
/*--------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul p {
    display: inline-block;
    margin-right: 10px;
}

footer nav ul p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul p a:hover {
    text-decoration: underline;
}

footer nav ul p img {
    width: 40px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    margin-top: 30px;
}